/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*-------------------------------- Styles Start --------------------------------*/

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: rgb(46, 42, 42);
    position: fixed;
    z-index: 1;
    width: 100%;

}

header::after {
    content: "";
    display: block;
    clear: both;
}
#logo {
    background: url(./images/logo.png) no-repeat ;
    height: 40px;
    width: 280px;
    text-indent: -10000px;
    float: left;
    margin-top: 15px;
}

header nav {
    float: right;
    margin-top: 25px;
}
nav h2 {
    text-indent: -10000px;
    height: 0px;
}

nav ul li {
    margin-left: 20px;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li span {
    color: green;
    margin-left: 20px;
}

nav .dropdown {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
nav .dropBtn {
    color: #fff;
    border: none;
    background-color: inherit;
    cursor: pointer;
    width: 100%;
}
nav .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

nav .dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 0.8em;
}

nav .dropdown-content a:nth-child(3){
    border-bottom: none;
}

nav .dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #000;
}

#lead-banner img {
   width: 100%;
}

#lead-banner {
    max-height: 420px;
    overflow: hidden;
    position: relative;
}

#lead-banner .banner-overlay {
    position: absolute;
    top: 20%;
    width: 100%;
}

.banner-title {
    text-transform: uppercase;
    font-size: 3.6em;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-overlay p {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    color: #fff;
    margin-top: 10px;
}

.banner-overlay a{
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 20%;
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 1px 1px #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+3,299a0b+10,299a0b+17,299a0b+17,299a0b+23,299a0b+37,299a0b+37,299a0b+54,299a0b+66,299a0b+94,299a0b+94 */
background: #299a0b; /* Old browsers */
background: -moz-linear-gradient(top, #299a0b 3%, #299a0b 10%, #299a0b 17%, #299a0b 17%, #299a0b 23%, #299a0b 37%, #299a0b 37%, #299a0b 54%, #299a0b 66%, #299a0b 94%, #299a0b 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #299a0b 3%,#299a0b 10%,#299a0b 17%,#299a0b 17%,#299a0b 23%,#299a0b 37%,#299a0b 37%,#299a0b 54%,#299a0b 66%,#299a0b 94%,#299a0b 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #299a0b 3%,#299a0b 10%,#299a0b 17%,#299a0b 17%,#299a0b 23%,#299a0b 37%,#299a0b 37%,#299a0b 54%,#299a0b 66%,#299a0b 94%,#299a0b 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
}

section {
    margin: 40px 0 60px;
}

section#sale h2 {
    height: 0px;
    text-indent: -10000px;
}

section#sale ul {
    list-style-type: none;
}

section#sale ul li {
    float: left;
    width: 32%;
}

section#sale ul::after {
    content: "";
    display: block;
    clear: both;
}

section#sale li:nth-child(2){
    margin: 0 2%;
}

section#sale img {
    width: 100%;
}

section#sale h3 {
    padding: 5px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: hsla(0, 2%, 44%, 0.534);
    margin: 5px 0;
}

section#sale p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    padding: 0 10%;
    font-size: 1.0em;
    color: #888;
}

section#clients, #contact{
    border-top: 1px solid #ccc;
}

section#clients h2, #contact h2 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background: green;
    padding: 10px 0;
    position: relative;
    top: -15px;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 0.8em;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
}

section#clients img {
    float: left;
    width: 20%;
}

section#clients blockquote{
    float: right;
    width: 70%;
    margin-top: 15px;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    line-height: 1.4em;
}

section#clients::after {
    content: "";
    display: block;
    clear: both;
}

#details {
    float: left;
}

#details li {
    list-style-type: none;
    color: #bbb;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    clear: both;
}

#details li::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 15px;
    background: url(./images/social-media.png) no-repeat;
}

#details li:nth-child(1)::before{
    background-position: -26px -15px;
}

#details li:nth-child(2)::before{
    background-position: -192px -20px;
}

#details li:nth-child(3)::before{
    background-position: -274px -20px;
}
#contact img {
    width: 30%;
    float: right;
}

#social-nav {
    clear: both;
}